@media screen and (max-width: 600px) {
    header .w3-bar {
        display: none;
    }

    header .w3-bar.w3-blue {
        display: block;
    }

    #vuelosMenuBtn {
        display: block;
    }
}